@use '../utils/' as *;


.Button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 35px;
    padding: 1.5rem;
    border: 0.5px solid $clr-green;
    border-radius: 0.25rem;
    margin: 0.5rem 0;

    color: $clr-primary;
    text-decoration: none;
}

