@use '../utils/' as *;


.networkItem {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 95%;
    padding: 1rem;
    margin: 0.5rem auto;


    border: 0.5px solid $clr-green;
    border-radius: 0.5rem;


    @include mq(medium) {
        width: 40%;
    }


    &__info,
    &__pass {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
    }


    &__info {
        margin-bottom: 1rem;


        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__ssid {
            width: 100%;
            padding-left: 1rem;

            color: $clr-secondary;

            input {
                width: 100%;
                border: none;
                outline: none;

                font-size: 1.1rem;
                font-weight: 600;
                color: $clr-primary;

            }
        }
    }

    &__pass {

        &__label {
            width: 100%;
            padding-right: 1.5rem;
        }

        &__input {
            width: 100%;
            height: 35px;
            padding-left: 0.5rem;
            border: unset;
            outline: unset;
            border: 0.5px solid $clr-green;
            border-radius: 0.25rem;

            font-size: 1.1rem;
            color: $clr-green;

            &::placeholder {
                font-size: 0.9rem;
                color: $clr-secondary;
            }
        }

        &__button {
            height: 33px;
            padding: 0.5rem 1.5rem;
            border: 0.5px solid $clr-green;
            border-radius: 0.25rem;
            color: $clr-green;
        }

    }
}