@use '../utils/' as *;


.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    color: $clr-primary;

    background-color: $clr-background;


    &-title {
        margin: 2rem 0;
    }


    &-items {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 4rem;
        border-top: 0.5px solid $clr-secondary;


        &-generalinfo {
            width: 95%;
            padding: 0.5rem 1rem;
            border: 0.5px solid $clr-green;
            border-radius: 0.5rem;

            @include mq(medium) {
                width: 40%;
            }


            &-label {
                display: inline-block;

                width: 50px;
                margin-right: 1rem;
                line-height: 1.5;
            }


            &-info {
                color: $clr-secondary;
            }

        }
    }


}