// Map breakpoints for media queries
$breakpoints: (
    small: 320px,
    standar: 375px,
    intermediate: 688px,
    medium: 1024px,
    large: 1280px,
    xlarge: 1366px
);

// Theme Color
$clr-background: #0a192f;
$clr-primary: #ccd6f6;
$clr-secondary: #8892b0;
$clr-green: #64ffda;