// Map breakpoints for media queries
$breakpoints: (
    small: 320px,
    standar: 375px,
    intermediate: 688px,
    medium: 1024px,
    large: 1280px,
    xlarge: 1366px
);

// Theme Color
$clr-background: hsl(216, 65%, 11%);
$clr-primary: rgb(203, 213, 246);
$clr-secondary: hsl(225, 20%, 61%);
$clr-green: hsl(166, 100%, 70%);